
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header file */


.header{
    background-color: rgb(42, 4, 4); 
}
.fitness {
    color: rgb(253, 5, 5);
    font-size: 2.5rem;

}
.header-nav{
 border: 2px solid red;
 display: flex;
 justify-content: space-between;
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
align-items: center;
}


.item{
    text-decoration: none;
    color: white;
    margin-left: 10px ;
   
}
.button{
    background-color:rgb(244, 38, 7);
   border-style: none;
   border-radius: 5px;
   padding: 5px;
   color: white ;
}




 /* healthy part */
 /*  Main part */

 .main{
    background-color: rgb(250, 29, 29);
 }
.healthy{
      background-color: rgb(41, 19, 19);
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      max-width: 1200px;
      margin: 0 auto;
}
#title{
    font-size:5rem;
    font-weight:600;
    width: 520px;
    height: 280px;

}

 #Shape{
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
 
.healthy-container {
    color: white;
    width: 520px;
    height: 280px;
  
}
.Download-btn{

    color: white ;
    background-color: black;
    width: max-content;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    border-color: white;  
}


.red-btn{
 color: white ;
    background-color:rgba(230, 83, 60, 1);
    width: max-content;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    border-style: none;
    margin-right: 30px;
}

.healthy-paragraph{
   
  padding: 28px 0px 28px 0px;
   color: rgba(255, 255, 255, 0.5);

}

.hamburger{ display: none;
     color: white;
    }

.healthy-img{
   height: 600px;
   width: 350px;
 
   position: relative;
 
}

.position-first{
    width: max-content;
    background-color:rgba(0, 0, 0, 0.365);
    padding: 15px 30px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top:80%;
    right:80%;
    border-radius: 8%;
    backdrop-filter: invert(20%); 
}

.position-second{
    width: max-content;
    background-color:rgba(0, 0, 0, 0.336);
    padding: 15px 15px;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    position: absolute;
   top: 25%;
   left: 60%;
   border-radius: 8%;
   backdrop-filter: invert(20%); 
  
} 
.posi-sec-id{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.509);
}



/*  change your habits part */
/* section-two */
.section-two{
    max-width: 1200px;
    margin: 0 auto;
    
}

.section-two-img-container {
    display: flex;
    justify-content: space-around;
   
}


.Change-habits-title{
    text-align: center;
    /* border: 2px solid rgb(238, 238, 238); */
    margin-top: 5%;
    
}
.title{
    font-size:3rem;
    font-weight:700;
    color: white;
}
.section-two-imgs{
 width: 300px;
 height: 350px;


}
.section-two-imgs{
    width: 185px;
    height: 300px;
}
.section-two-img-title{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}
.section-two-img-paragraph{
    text-align: center;
    color:rgba(255, 255, 255, 0.5);
    padding: 5px;
}


.section-two-img{
   border-radius: 100px;
}

/* section Three */

.section-three{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;  
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    gap: 10px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.511);
    border-radius: 20px;
       
}
 .section-three-first-div{
    border: 2px solid white;
    
 }

 .section-three-img-div{
    border: 2px solid white;
    width: 1000px;
    border-radius: 15px;
 }
 
.section-three-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  
}

/*  section-four */

.section-five{
    max-width: 1200px;
    margin: 0 auto;
}
 .team-imgs-container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: space-around;
    border: 2px solid black;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 20px;
    gap: 20px; 
 }
.section-five-title{
    text-align: center;
    margin-top: 5%;
    padding: 20px;

}
 .team-imgs{
    width: 330px;
    height: 275px;
    justify-items: center;
    position: relative;
 }
 .team-img{
    width: 330px;
    height: 275px;
    border-radius: 40px;
    margin-left: 18px; 
 }
.team-name{
    position: absolute;
    top: 220px;
    left: 40px;
    color: white;
    font-weight: bold;
}
.trainer{
    color: rgba(255, 255, 255, 0.5);
    
}

/*   footer  part */

.footer-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border:  2px solid bisque; */
    padding-top: 30px;
    margin-top: 20px;
    max-width: 1200px;
      margin: 0 auto;
}

.footer-title{
    /* border:  2px solid rgb(255, 197, 126); */
    width: 500px;
    padding-right: 100px;
}
.footer-container{
    /* border:  2px solid rgb(177, 98, 2); */
    
}

.ul-li{
    list-style: none;
    /* color:rgba(255, 255, 255, 0.5); */
   
}
.Get-start{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}
.copy{
    padding-top: 30px;
    margin-top: 20px;
    max-width: 1200px;
     margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
}
.copy-para{
   padding: 30px;
   /* justify-content: center;
   justify-items: center;
   margin: auto;
   display: block; */
   text-align: center;
}