
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*--------------------------- header file --------------------------------*/
.background-part{
  background: linear-gradient(180deg, #222121 0%, rgba(54, 52, 52, 0) 100%);

}

.header{
   
}
.fitness {
    color: rgb(253, 5, 5);
    font-size: 2.5rem;
    font-size: 35px;

}
.header-nav{

 display: flex;
 justify-content: space-between;
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
align-items: center;
}


.item{
    text-decoration: none;
    color: white;
    margin-left: 10px ;
   
}
.button{
    background-color:rgb(244, 38, 7);
   border-style: none;
   border-radius: 10px;
   padding: 5px 10px;
   color: white ;
}






 /* ------------------------------- Main part--------------------------------- */
 /*---------------------- healthy part------------------------------------- */


 .main{
 
  

 }
.healthy{
      /* background-color: rgba(0, 0, 0, 0.685); */
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 30px;
      border-radius: 15px;
    
}
#title{
    font-size:5rem;
    font-weight:600;
    width: 520px;
    height: 280px;
    

}

 #Shape{
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
 
.healthy-container {
    color: white;
    width: 520px;
    height: 280px;
    /* border: 2px solid rgb(247, 246, 246); */
   margin-bottom: 200px;
}
.Download-btn{

    color: white ;
    background-color: black;
    width: max-content;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    border-color: white;  
}


.red-btn{
 color: white ;
    background-color:rgba(230, 83, 60, 1);
    width: max-content;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    border-style: none;
    margin-right: 30px;
}

.healthy-paragraph{
   
  padding: 28px 0px 28px 0px;
   color: rgba(255, 255, 255, 0.5);
   /* border: 2px solid red; */
}

.hamburger{ display: none;
     color: white;
    }

.healthy-img{
   height: 600px;
   width: 350px;
 
   position: relative;
 
}

.position-first{
    Width:200px;
     Height:96px;
     
    width: max-content;
    background-color:rgba(0, 0, 0, 0.365);
    padding:20px 40px;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top:70%;
    right:80%;
    border-radius: 8%;
    backdrop-filter: invert(20%); 


}
.position-first::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
  }

.position-second{
    width: max-content;
    background-color:rgba(0, 0, 0, 0.336);
    padding: 15px 15px;
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    position: absolute;
   top: 25%;
   left: 60%;
   border-radius: 8%;
   backdrop-filter: invert(20%); 
  
} 
.posi-sec-id{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.509);
}






/*  ---------------change your habits part ----------------------*/
/* section-two */
.section-two{
    max-width: 1200px;
    margin: 0 auto;
    
}

.section-two-img-container {
    display: flex;
    justify-content: space-around;
   
}


.Change-habits-title{
    text-align: center;
    /* border: 2px solid rgb(238, 238, 238); */
    margin-top: 5%;
    
}
.title{
    font-size:3rem;
    font-weight:700;
    color: white;
}
.section-two-imgs{
 width: 300px;
 height: 350px;


}
.section-two-imgs{
    width: 185px;
    height: 300px;
}
.section-two-img-title{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}
.section-two-img-paragraph{
    text-align: center;
    color:rgba(255, 255, 255, 0.5);
    padding: 5px;
}


.section-two-img{
   border-radius: 100px;
}






/*----------------------------- section Three ---------------------------------*/

.section-three{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    height: 370px;
    /* background-color: rgba(0, 0, 0, 0.511); */
    border-radius: 20px;
    background-color:#222222;
    ;
       
}


 .section-three-first-div{
 
    width: 35%;
    padding: 40px ;
 }

 .section-three-img-div{
    padding: 40px ;
    width: 40%;
    border-radius: 15px;
 }
 
.section-three-img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  
}

.section-three-btn{
    color: rgb(255, 255, 255) ;
    background-color:rgba(230, 83, 60, 1);
    border-radius: 25px;
    font-size: 0.9rem;
    border-style: none;
    padding: 10px 60px;
}


.section-three-first-div,
.section-three-img-div {
    padding: 5px;
}



/* --------------------------- section-four BMI ----------------------------*/

.section-four{
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0px;
  
    border-radius: 15px;
    margin-top: 10px;

}

.color{
 
    background-color:#222222;
}

.bmi-header{
text-align: center;
padding-bottom: 20px;
margin-top: 50px;

}
.bmi-chart-div{
    display: flex;
    justify-content: space-between;
}
table, th , td{
     padding: 15px; 
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: bold;
    border-collapse: collapse;
    
}
  .bmi-weight{
    color: white;
    font-size: 1.2rem;
    text-align: start;
  }
.bmi-Chart-calculate{
    font-size: 2rem;
    color: white;
    padding-bottom: 20px;
}

.calculator-container{
    
    width: 570px;
    padding: 0 25px;
    height: 500px;

}
.input-part{
    width: 250px;
    height: 60px; 
    border-radius: 8px;
    font-size: 1.2rem;
    border-style: none;
    padding: 15px;

}
.cm-kg { 
    margin-top: 20px;
}
.input , select{
   width: 500px;
   height: 60px; 
   border-radius: 8px;
   font-size: 1.2rem;
    border-style: none;
  
}
#id-activity-fector {
    width: 515px;
    height: 60px; 
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
}
.input-parts{
   padding-top: 1.5rem;
   display: flex;
   justify-content: center;
   gap: 20px;
}
.cm-age-kg-sex{
    margin-top: 20px;
}



.btn-calculate{
    color: white ;
    background-color:rgba(230, 83, 60, 1);
    width: max-content;
    padding: 15px 50px;
    border-radius: 40px;
    font-size:1rem;
    border-style: none;
    margin-top: 30PX;
}




/* -------------------------section five  part -- MEET OUT TEAM---------------------*/


.section-five{
    max-width: 1200px;
    margin: 0 auto;
}
    .team-imgs-container{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-content: space-around;
        padding: 30px;
        background-color:#222222;
        border-radius: 20px;
        gap:30px; 
        justify-items: center;
     }
  


.section-five-title{
    text-align: center;
    margin-top: 5%;
    padding: 20px;

}
 .team-imgs{
    width: 330px;
    height: 275px;
    justify-items: center;
    position: relative;
 }
 .team-img{
    width: 330px;
    height: 275px;
    border-radius: 20px;
 
 }
.team-name{
    position: absolute;
    top: 220px;
    left: 40px;
    color: white;
    font-weight: bold;
}
.trainer{
    color: rgba(255, 255, 255, 0.5);
    
}




/* ----------------------------------------section- sex part ----------------------*/

.icon-container-div{
    /* border: 2px solid black; */
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon-container{
        /* border: 2px solid black; */
    width: 200px;
    height: 220px;
    text-align: center;
    margin-top: 20px;
    /* padding: 20px; */
    }
 .icon-div{
    /* display: grid;
   grid-template-columns: repeat(4, 2fr); */
   display: flex;
   flex-wrap: wrap;
   /* justify-content: center */
   justify-content: space-evenly;
   /* border: 2px solid black; */
   padding: 2rem;
 }

.icon-imgs{
    width: 100px;
    height: 100px;
}
icon-container-div, h1 {
    text-align: center;
    padding: 20px;
}

.icon-title{
    color: white;
    padding: 10px;
}
.icon-paragraph{
   color:rgba(255, 255, 255, 0.5);
}









/*  ------------------------------- footer  part---------------------------------------- */

.footer-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    padding-top: 30px;
    margin-top: 20px;
    max-width: 1200px;
      margin: 0 auto;
}

.footer-title{

    width: 500px;
    padding-right: 100px;
}
.footer-container{
    /* border:  2px solid rgb(177, 98, 2); */
    
}

.ul-li{
    list-style: none;
    color:rgba(255, 255, 255, 0.5);
   
}
.Get-start{
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
}
.copy{
    padding-top: 30px;
    margin-top: 20px;
    max-width: 1200px;
     margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
}
.copy-para{
   padding: 30px;
   text-align: center;
}
.fitness-{
    color: rgb(253, 5, 5);
    font-size: 4rem;
    padding-right: 100%;
}