@media screen and (max-width:576px) {
    .header-nav{
        display: flex;
       
    }
    .items {
        display: none;
    }
    .hamburger{ display: block;
    }
    .healthy{ 
        display: flex;
        flex-direction: column;align-items: center;
        gap:10rem; 
    }

    .position-first {
        top:45%;
        right:50%;
    }
    .position-second{
       top: 10%;
       left: 60%;}

    .div-btn{
        width: 100%;
        display: flex;
    
        align-items: center;
        justify-content: center;
        text-align: center;
    }
      
    .section-two-img-container {
        flex-direction: column;
    }
    .section-two-imgs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
    }
    .section-two-img {
       align-items: center
       
    
    }
    .section-three{
        flex-direction: column;
        width: 355px;
        height: 530px


    }
    .section-three-img{
      width: ;
    }

   .section-three-img-div{
    width: 300px;
    height: 400px
     
}

.section-three-first-div{
     align-items: center;
     
     
}
.section-three-btn{
    justify-items: center;
    align-items: center;
    margin: auto;
    display: block;
} 

.team-imgs-container{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    
}
.section-five{

}
.team-imgs{
    justify-content: center;
    align-items: center;
    margin: 0;
}

}


/* for desktop */
