@media screen and (max-width:576px) {
    .header-nav{
        display: flex;
       
    }
    .items {
        display: none;
    }
    .hamburger{ display: block;
    }
    .healthy{ 
        display: flex;
        flex-direction: column;align-items: center;
        gap:10rem; 
    }

    .position-first {
        top:45%;
        right:50%;
    }
    .position-second{
       top: 10%;
       left: 60%;}

    .div-btn{
        width: 100%;
        display: flex;
    
        align-items: center;
        justify-content: center;
        text-align: center;
    }
      
    .section-two-img-container {
        flex-direction: column;
    }
    .section-two-imgs{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    
    }
    .section-two-img {
       align-items: center
       
    
    }
    .section-three{
        flex-direction: column;
        width: 355px;
        height: 530px


    }
    .section-three-img{
      width: ;
    }

   .section-three-img-div{
    width: 300px;
    height: 400px
     
}

.section-three-first-div{
     align-items: center;
     
     
}
.section-three-btn{
    justify-items: center;
    align-items: center;
    margin: auto;
    display: block;
} 

.team-imgs-container{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    
}





/* secton-04------------------------------------------- */
.section-four{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
  
    border-radius: 15px;
    margin-top: 10px;


}

.calculator-container{
    /* border: 2px solid black; */
    /* background-color: blue; */
    width: 500px;
     height: 550px;
    /* padding-left: 20px;
    padding-right: 60px; */
    /* gap: 2rem; */
   margin: 20px 0;
   
}

.input-part{
    width: 200px;
    height: 60px; 
    border-radius: 8px;
    /* padding: 20px; */
    font-size: 1.2rem;
    /* padding: 2  2rem; */
    border-style: none;
     

}
#id-activity-fector {
    width: 405px;
}

/*      section- 05  ----------------------------------      */

.section-five{

}
.team-imgs{
    justify-content: center;
    align-items: center;
    margin: 0;

}
.footer-div {
   grid-template-columns: repeat(1, 1fr);
   padding: 40px;
}

.bmi-chart-div{
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.calculator-container{
  padding-top: 40px;
  padding-right: 80px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.bmi-header{
    text-align: center;
    padding-bottom: 20px;
   align-items: center;

}
.select-activity{
    padding-right: 80px;
    align-items: center;
    text-align: center;
    
}





/* end */

}